
@font-face {
    font-family: "SF Mono";
    src: url("sf-mono/SFMonoMedium.otf") format('opentype');
  }
  
  @font-face {
    font-family: "SF Mono Bold";
    src: url("sf-mono/SFMonoBold.otf") format('opentype');
  }

  body {
    font-family: "SF Mono";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: #231B1B;
    max-width: 1024px;
    margin: 10px auto;
    text-align: center;
  }  
  .subtitle {
    margin: 20px;
  }

.search-container {
        text-align: center; /* Allinea la barra di ricerca al centro */
        margin: 15px; /* Spazio inferiore */
        background-color: #231B1B !important; /* Colore di sfondo con priorità */
  }
  
  #search-input {
    width: 100%; /*Larghezza della barra di ricerca */
    padding: 10px; /* Padding interno */
    font-size: 1.5rem; /* Dimensione del font */
    border: 2px solid lightgray; /* Bordo unificato */
    border-radius: 5px; /* Angoli arrotondati */
    font-family: "SF Mono";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
    background-color: #231B1B !important; /* Colore di sfondo con priorità */
    color: lightgray;
}

.search-buttons {
    margin-bottom: 20px;
    text-align: center; /* Centra i pulsanti */
}

.search-buttons button {
    background-color: #231B1B; /* Sfondo come da pagina */
    border: 2px solid lightgray; /* Bordo colorato */
    border-radius: 5px; /* Angoli arrotondati */
    padding: 10px 20px; /* Padding interno */
    font-family: "SF Mono";
    color: lightgray; /* Colore del testo */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transizione per il cambio di colore di sfondo */
    font-size: 1.2rem; /* Dimensione del font */
    margin-top: 20px; /* Spazio superiore */
    margin-right: 10px; /* Spazio tra i pulsanti */
}

.search-buttons button:last-child {
    margin-right: 0; /* Rimuove spazio destro dall'ultimo pulsante */
}

.search-buttons button:hover {
    background-color: #383838; /* Colore di sfondo quando il mouse passa sopra */
}



.libri-list {
    list-style-type: none; /* Rimuove i punti elenco */
    padding-left: 0; /* Rimuove padding a sinistra */
    margin: 0; /* Rimuove i margini */
    font-family: "SF Mono"; /* Famiglia di font */
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: left; /* Allinea il testo a sinistra */
    color: lightgray; /* Colore del testo */
}

.libri-list li {
    margin-bottom: 20px; /* Spazio tra gli elementi della lista */
    padding-left: 0; /* Rimuove il rientro aggiuntivo */
    text-align: left; /* Allinea il testo a sinistra */
    display: flex; /* Usa flexbox per allineare il contenuto */
    align-items: flex-start; /* Allinea gli elementi al centro in verticale */
}

.copertina-libro {
    max-width: 100px; /* Dimensione massima della copertina */
    margin-right: 10px; /* Spazio a destra della copertina */
    flex-shrink: 0; /* Impedisce che l'immagine si riduca */
    transition: border 0.3s ease; /* Aggiunge una transizione liscia per il bordo */
}


.libri-list li div {
    display: flex; /* Usa flexbox per allineare il contenuto */
    flex-direction: column; /* Colonna per il testo */
}

.libri-list li strong {
    font-size: 1.2rem; /* Dimensione del font per il titolo */
    margin-bottom: 5px; /* Spazio sotto il titolo */
    color: lightgray; /* Colore del testo */
}

.libri-list li em {
    font-size: 1rem; /* Dimensione del font per l'autore */
    margin-bottom: 5px; /* Spazio sotto l'autore */
    color: lightgray; /* Colore del testo */
}

.libri-list li p {
    margin: 0; /* Rimuove i margini */
    color: lightgray; /* Colore del testo */
}


/* Stile per il pop-up */


/* Stile per il pop-up */
.modal {
    display: none; /* Nasconde il pop-up di default */
    position: fixed; /* Posizione fissa */
    z-index: 1; /* Assicura che il pop-up sia sopra altri elementi */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Abilita lo scorrimento se necessario */
    background-color: rgb(0, 0, 0); /* Colore di sfondo */
    background-color: rgba(0, 0, 0, 0.8); /* Colore di sfondo con opacità */
}

.modal-content {
    display: block;
    margin: 15% auto; /* Centra il pop-up verticalmente */
    display: block;
    max-width: 80%; /* Assicura che l'immagine non superi l'80% dello schermo */
    max-height: 80%;
}

.close {
    position: fixed; 
    top: 10px;
    right: 25px;
    color: lightgray; 
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}


/*

.modal-content {
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center; /* Centra orizzontalmente 
    align-items: center; 
    height: 80%;
    max-width: 80%; /* Assicura che l'immagine non superi l'80% dello schermo 
    max-height: 80%;
    width: auto;
}
*/
