
@font-face {
    font-family: "SF Mono";
    src: url("sf-mono/SFMonoMedium.otf") format('opentype');
  }
  
  @font-face {
    font-family: "SF Mono Bold";
    src: url("sf-mono/SFMonoBold.otf") format('opentype');
  }

  body {
    font-family: "SF Mono";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: #231B1B;
    max-width: 1024px;
    margin: 10px auto;
    text-align: center;
  }  

.search-container {
        text-align: center; /* Allinea la barra di ricerca al centro */
        margin: 30px; /* Spazio inferiore */
        background-color: #231B1B !important; /* Colore di sfondo con priorità */
        border: 2px solid lightgray; /* Bordo colorato */
        border-radius: 10px; 
  }
  
  #search-input {
    width: 80%; /* Larghezza della barra di ricerca */
    padding: 10px; /* Padding interno */
    font-size: 1.5rem; /* Dimensione del font */
    border-radius: 5px; /* Angoli arrotondati */
    background-color: #231B1B !important; /* Colore di sfondo con priorità */
    font-family: "SF Mono";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: "SF Mono";
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: justify;
    font-weight: 400;
    color: lightgray;
  }
  
  .libri-list {
    list-style-type: none; /* Rimuove i punti elenco */
    padding-left: 0; /* Rimuove padding a sinistra */
    margin: 0; /* Rimuove i margini */
    font-family: "SF Mono";
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: justify;
    font-weight: 400;
    color: lightgray;
  }
  
  .libri-list li {
    margin-bottom: 20px; /* Spazio tra gli elementi della lista */
    padding-left: 10px; /* Rientro aggiuntivo di 10 pixel per ogni elemento della lista */
    text-align: left; /* Allinea il testo a sinistra */
  }
  
  .copertina-libro {
    max-width: 100px; /* Dimensione massima della copertina */
    margin-right: 10px; /* Spazio a destra della copertina */
    float: left; /* Allinea la copertina a sinistra del testo */
  }