
@font-face {
    font-family: "SF Mono";
    src: url("sf-mono/SFMonoMedium.otf") format('opentype');
  }
  
  @font-face {
    font-family: "SF Mono Bold";
    src: url("sf-mono/SFMonoBold.otf") format('opentype');
  }

  body {
    font-family: "SF Mono";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: #231B1B;
    max-width: 1024px;
    margin: 10px auto;
    text-align: center;
  }  
  .subtitle {
    margin: 20px;
  }

  .idea {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    align-items: left;
    text-align: justify;
    font-weight: 400;
    color: lightgray;
  }

  .search-container {
    text-align: center; /* Allinea la barra di ricerca al centro */
    margin: 15px; /* Spazio inferiore */
    background-color: #231B1B !important; /* Colore di sfondo con priorità */
}

#search-input {
width: 100%; /*Larghezza della barra di ricerca */
padding: 10px; /* Padding interno */
font-size: 1.5rem; /* Dimensione del font */
border: 2px solid lightgray; /* Bordo unificato */
border-radius: 5px; /* Angoli arrotondati */
font-family: "SF Mono";
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
font-style: normal;
font-weight: normal;
line-height: 1.5;
text-align: left;
font-weight: 400;
background-color: #231B1B !important; /* Colore di sfondo con priorità */
color: lightgray;
}

.search-buttons {
margin-bottom: 20px;
text-align: center; /* Centra i pulsanti */
}

.search-buttons button {
background-color: #231B1B; /* Sfondo come da pagina */
border: 2px solid lightgray; /* Bordo colorato */
border-radius: 5px; /* Angoli arrotondati */
padding: 10px 20px; /* Padding interno */
font-family: "SF Mono";
color: lightgray; /* Colore del testo */
cursor: pointer;
transition: background-color 0.3s ease; /* Transizione per il cambio di colore di sfondo */
font-size: 1.2rem; /* Dimensione del font */
margin-top: 20px; /* Spazio superiore */
margin-right: 10px; /* Spazio tra i pulsanti */
}

.search-buttons button:last-child {
margin-right: 0; /* Rimuove spazio destro dall'ultimo pulsante */
}

.search-buttons button:hover {
background-color: #383838; /* Colore di sfondo quando il mouse passa sopra */
}

.idee {
    list-style-type: none; /* Rimuove i punti elenco */
    padding-left: 0; /* Rimuove padding a sinistra */
    margin: 0; /* Rimuove i margini */
    font-family: "SF Mono"; /* Famiglia di font */
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: left; /* Allinea il testo a sinistra */
    color: lightgray; /* Colore del testo */
  }
  
  .idee li {
    border-bottom: 1px solid #555; /* Aggiunge bordo sotto ogni elemento */
    padding-bottom: 10px; /* Aggiunge padding sotto ogni elemento */
    margin-bottom: 10px; /* Aggiunge margine sotto ogni elemento */
  }
  
  .idee li div {
    display: flex; /* Usa flexbox per allineare il contenuto */
    flex-direction: column; /* Colonna per il testo */
  }
  
  .idee li strong {
    font-size: 1.2rem; /* Dimensione del font per il titolo */
    margin-bottom: 0apx; /* Spazio sotto il titolo */
    color: lightgray; /* Colore del testo */
    text-align: left; /* Allinea il testo a sinistra */
  }
  
  .idee li p {
    margin: 0; /* Rimuove i margini */
    color: lightgray; /* Colore del testo */
  }
  