@font-face {
    font-family: "SF Mono";
    src: url("sf-mono/SFMonoMedium.otf") format('opentype');
  }
  
  @font-face {
    font-family: "SF Mono Bold";
    src: url("sf-mono/SFMonoBold.otf") format('opentype');
  }

  body {
    font-family: "SF Mono";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: #231B1B;
    max-width: 1024px;
    margin: 10px auto;
    text-align: center;
  }  

  .subtitle {
    margin: 20px;
  }

  .idea {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    align-items: left;
    text-align: justify;
    font-weight: 400;
    color: lightgray;
  }

  #search-input {
    border-top: 15px;
    width: 100%; /*Larghezza della barra di ricerca */
    padding: 10px; /* Padding interno */
    font-size: 1.5rem; /* Dimensione del font */
    border: 2px solid lightgray; /* Bordo unificato */
    border-radius: 5px; /* Angoli arrotondati */
    font-family: "SF Mono";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
    background-color: #231B1B !important; /* Colore di sfondo con priorità */
    color: lightgray;
}

.nota{
    list-style-type: none; /* Rimuove i punti elenco */
    padding-left: 0; /* Rimuove padding a sinistra */
    margin: 0; /* Rimuove i margini */
    font-family: "SF Mono"; /* Famiglia di font */
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: left; /* Allinea il testo a sinistra */
    color: lightgray; /* Colore del testo */
}

.nota li {
    margin-bottom: 20px; /* Spazio tra gli elementi della lista */
    padding-left: 0; /* Rimuove il rientro aggiuntivo */
    text-align: left; /* Allinea il testo a sinistra */
    display: flex; /* Usa flexbox per allineare il contenuto */
    align-items: flex-start; /* Allinea gli elementi al centro in verticale */
}

.copertina-libro {
    max-width: 100px; /* Dimensione massima della copertina */
    margin-right: 10px; /* Spazio a destra della copertina */
    flex-shrink: 0; /* Impedisce che l'immagine si riduca */
    transition: border 0.3s ease; /* Aggiunge una transizione liscia per il bordo */
}

.nota a {
    text-align: left; /* Allinea il testo a sinistra */
    display: block; /* Assicura che l'elemento a prenda tutta la larghezza disponibile */

.nota li div {
    display: flex; /* Usa flexbox per allineare il contenuto */
    flex-direction: column; /* Colonna per il testo */
}

.nota li strong {
    font-size: 1.2rem; /* Dimensione del font per il titolo */
    margin-bottom: 5px; /* Spazio sotto il titolo */
    color: lightgray; /* Colore del testo */
}

.nota li em {
    font-size: 1rem; /* Dimensione del font per l'autore */
    margin-bottom: 5px; /* Spazio sotto l'autore */
    color: lightgray; /* Colore del testo */
}

.nota li p {
    margin: 0; /* Rimuove i margini */
    color: lightgray; /* Colore del testo */
}