@font-face {
    font-family: "SF Mono";
    src: url("sf-mono/SFMonoMedium.otf") format('opentype');
  }
  
  @font-face {
    font-family: "SF Mono Bold";
    src: url("sf-mono/SFMonoBold.otf") format('opentype');
  }

  body {
    font-family: "SF Mono";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: #231B1B;
    max-width: 1024px;
    margin: 10px auto;
    text-align: center;
  }  

  .subtitle {
    margin: 20px;
  }


  .testo {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: "SF Mono";
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
   /* display: flex;
    justify-content: left;
    align-items: left;
    text-align: justify;
    font-weight: 400; */
    color: lightgray;
    font-size: 1.5rem;
  }
