
@font-face {
  font-family: "SF Mono";
  src: url("sf-mono/SFMonoMedium.otf") format('opentype');
}

@font-face {
  font-family: "SF Mono Bold";
  src: url("sf-mono/SFMonoBold.otf") format('opentype');
}

body {
  font-family: "SF Mono";
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #231B1B;
  max-width: 1024px;
  margin: 10px auto;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.msx {
  float: left;
}

.mrx {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
}

.navbar .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .menu li {
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.note {
  list-style-type: none;
  padding: 50px;
  font-family: "SF Mono";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  color: lightgray;
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 0px;
}
ul.note {
    margin-top: 0; /* Rimuove il margine superiore della lista */
    padding-top: 0; 
}
.note li {
  margin-bottom: 5px; /* Aumenta lo spazio tra gli elementi della lista */
}

.note li u {
  text-decoration: underline;
  text-decoration-color: lightgray; /* Colore della sottolineatura */
  text-decoration-thickness: 2px;  /* Spessore della sottolineatura */
}

.contatti {
  margin-top: 15px;
  list-style-type: none; /* Rimuove i punti elenco */
  padding-left: 20px; /* Rientro di 20 pixel a sinistra */
  text-align: left; /* Allinea il testo a sinistra */
  font-family: "SF Mono"; /* Stesso font del resto del sito */
  font-size: 2rem; /* Dimensione del font */
  color: lightgray;
  margin: 0 auto; /* Centra il contenitore orizzontalmente */
  max-width: 600px; /* Limita la larghezza del contenitore */
}

.contatti li {
  margin-bottom: 10px; /* Spazio tra gli elementi della lista */
  margin-left: 10px; /* Rientro a sinistra di 10 pixel */
  text-align: left; /* Allinea il testo a sinistra */
}


.title {
  font-family: "SF Mono Bold";
  font-style: normal;
  font-weight: bolder;
  color: whitesmoke;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.subtitle {
  font-family: "SF Mono Bold";
  font-style: normal;
  font-weight: bolder;
  color: lightgray;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.subtitle2 {
  font-family: "SF Mono Bold";
  font-style: normal;
  font-weight: normal;
  color: lightgray;
  font-size: 1.8rem;
  display: flex;
  margin-bottom: 5px;
}

.text {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "SF Mono";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: justify;
  font-weight: 400;
  color: lightgray;
  font-size: 2rem;
}

.icone {
  height: 40px;
}

a {
  font-family: "SF Mono";
  font-style: normal;
  text-decoration: none;
  color: lightgray;
}

.footer {
  font-family: "SF Mono";
  font-style: normal;
  color: lightgray;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (max-width: 600px) {
  body {
    margin: 15px !important;
  }
}

