
@font-face {
  font-family: "SF Mono";
  src: url("sf-mono/SFMonoMedium.otf")  format('opentype');
}
@font-face {
  font-family: "SF Mono Bold";
/*  font-weight: bold; */
  src: url("sf-mono/SFMonoBold.otf")  format('opentype');
}

body {
  font-family: "SF Mono";
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #231B1B;
}







ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.mrx {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}



.navbar {
  background-color: #333;
  overflow: hidden;
  }
  .navbar .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  }
  .navbar .menu li {
  display: inline-block;


  }
  .navbar .menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  }




  .navbar .menu li a:hover {
  background-color: #575757;
  }

  .hamburger {
      display: none;
      font-size: 30px;
      color: white;
      padding: 14px 20px;
      cursor: pointer;
      }

      #menu-toggle {
      display: none;
      }

      @media screen and (max-width: 600px) {
          .navbar .menu {
          display: none;
          width: 100%;
          }
          .navbar .menu li {
          display: block;
          text-align: left;
          }
          #menu-toggle:checked + .hamburger + .menu {
          display: block;
          }
          .hamburger {
          display: block;
          }
       }

/*
#navigation-nav ul li {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  color: #d3d3d3;
  width: 100px;
  height: 30px;
  left: 5px;
  text-decoration: none;
  list-style:none;
  margin-right:1%;
  position:relative;
  float:right;
}

  #navigation-home ul li {
      font-family: "SF Mono";
      font-style: normal;
      font-weight: 400;
      color: lightgray;
      width: 10px;
      height: 30px;
      right: 5px;
      text-decoration: none;
      margin-left: 0;
      position:relative;
      float:left;
      list-style:none;
  }

.navigation-item{
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  color: lightgray;
  position: relative;
  width: 100px;
  height: 30px;
  right: 5px;
  text-align: center;
  text-decoration: none;
}
*/
.title {
  font-family: "SF Mono Bold";
  font-style: normal;
  font-weight: bolder;
  color: whitesmoke;
  font-size: 5rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-family: "SF Mono Bold";
  font-style: normal;
  font-weight: bolder;
  color: lightgray;
  font-size: 3rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: "SF Mono";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: lightgray;
  font-size: 2.4rem;

}

.icone {
  height: 40px;
}



a {
  font-family: "SF Mono";
  font-style: normal;
  text-decoration: none; 
  color: lightgray;
}

.footer{
  font-family: "SF Mono";
  font-style: normal;
  color: lightgray;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}